<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>Convert Midi Number | By Creative Plus</title>
 
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
 
  <body>
    <center>
    <h1>Midi Number Tool</h1>
    <font size="5">MIDIナンバーから音名と周波数を判定します
        <form method="POST" action="/">
          <table>
              <tr>
              <td>判定するMIDIナンバー：</td>
              <td><input type="text" name="text" value=60 size=2 maxlength=2></td>
              <td><input class="btn btn-primary" name="text" type="submit" value="convert"></td>
              </tr>
              </table>                
        </form></font><br>
    <font size="5">MIDI Number: {{midinum}}</font><br>
    <font size="5">Note Name: {{notename}}</font><br>
    <font size="5">Frequency: {{freq}} Hz</font>
    </center>
 
  </body>
</html>